<footer id="footer">
  <div class="social-links items-center flex ">
      <ul class="flex s-center w-80 font-awesome">
        <!--linkedIn-->
          <li>
            <a href="https://www.linkedin.com/in/phodzo-muladi-654214257/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </li>
        <!-- GitHub -->
        <li>
            <a href="https://www.github.com/MuladiPhodzo" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
      </ul>
      <p class="copyrights">
        &#64; All Copyrights Reserved - <span class="cpy-white popinss">Phodzo Muladi</span>
      </p>
  </div>

</footer>
