<nav id="nav-bar" class="navbar">
  <div class="left-nav">
    <h1 class="t-white">Portfolio</h1>
  </div>
  <div class="right-nav">
    <ul class="nav-links">
      <li><a href="#home"><i class="fas fa-home"></i></a></li>
      <li><a href="#services"><i class="fas fa-cogs"></i></a></li>
      <li><a href="#skills"><i class="fas fa-code"></i></a></li>
      <li><a href="#stack"><i class="fas fa-layer-group"></i></a></li>
      <li><a href="#projects"><i class="fas fa-folder-open"></i></a></li>
      <li><a href="#git"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>

  <button class="contact-button" mat-raised-button color="accent" (click)="openContactForm()">Contact Me</button>
</nav>
