<!--contact me form-->
<div id = "contact">
  <h2>Contact Me</h2>
  <form method="post" class="popup-content">
    <mat-form-field appearance="outline">
      <input matInput type="text" name="name" [(ngModel)]="name" placeholder="Full Names">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="text" name="number" [(ngModel)]="number" placeholder="Phone Number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea matInput name="message" [(ngModel)]="message" placeholder="Message"></textarea>
    </mat-form-field>

    <div class="form-actions">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submitForm()">Send</button>
    </div>
  </form>
</div>
